@model MVCBasico.Models.Recital

@{
    ViewData["Title"] = "Eliminar";
}

<h1 class="text-light">Eliminar</h1>

<h3 class="text-light">¿Estas seguro de que queres Eliminar esto?</h3>
<div class="text-light">
    <h4>Recital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradasVendidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradasVendidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaAgotado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaAgotado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banda.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Establecimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Establecimiento.nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
